{
    "extends": "airbnb",
    "rules": {
        "indent": [
            1,
        4
        ],
        "quotes": [
            0,
            "double"
        ],
        "brace-style": 0,
        "no-unused-vars": 0,
        "no-var": 0,
        "new-cap": 0,
        "prefer-const": 0,
        "no-shadow": 0,
        "guard-for-in": 0,
        "react/sort-comp": 0,
        "react/prop-types": 0,
    },
}
