{
    "extends": "airbnb",
    "rules": {
        "indent": [ 1, 4 ],
        "brace-style": [ 2, "stroustrup", { "allowSingleLine": true } ],
        "no-unused-vars": 1,
        "no-var": 0,
        "new-cap": 0,
        "no-shadow": 0,
        "guard-for-in": 0,
    },
}
